# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/ramen_dev

# Environment
ENV=development
DEBUG=True

# API Settings
API_TITLE=Ramen API
API_VERSION=0.1.0

# Security
SECRET_KEY="wait and see"

# External APIs (if needed)
# EXTERNAL_API_KEY=xxx
